################################################################################
# File        : .gitignore
# Author      : SAV "Corona Data" Team
# Description : Local gitignore file for Visual Studio project
################################################################################

.vs/
bin/
obj/
